<!DOCTYPE html>
<html>
<head>
    <title>Survey Online</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'A2/style1.css' %}" />
</head>

<body>

  <table id="asktable" border="1" >
    <form name="survey" method="POST">
      <tr><td> Question </td> <td>5</td> <td>4</td> <td>3</td> <td>2</td> <td>1</td> </tr>
      {% for question in questions %}
      <tr><td> {{ question }} </td>
          <td><input type="radio" value="5" name="{{ question }}"></td>
          <td><input type="radio" value="4" name="{{ question }}"></td>
          <td><input type="radio" value="3" name="{{ question }}"></td>
          <td><input type="radio" value="2" name="{{ question }}"></td>
          <td><input type="radio" value="1" name="{{ question }}"></td>
      </tr>

      {% endfor %}
      <input type="submit" value="Submit" name="submit">
      {% csrf_token %}
    </form>
  </table>
</body>
</html>
