<!DOCTYPE html>
<html>
    <head>
        <title>Survey Online</title>
    </head>
    <body>
      {% for question in sendValue %}
        {{ question.question }} - >
        {{ question.score }} from
        {{ question.number }} person
        <br>
      {% endfor %}
    </body>
</html>
